<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<h3>
    <a href="/company/add">Add Company</a> |
    <a href="/employee">Employee</a> |
    <a href="/">Logout</a>
</h3>
<table class="table" border="1px">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>address</th>
        <th>size</th>
        <th>remove</th>

    </tr>
    <tr th:each="companes: ${company}">
        <td th:text="${companes.id}"></td>
        <td th:text="${companes.name}"></td>
        <td th:text="${companes.address}"></td>
        <td th:text="${companes.size}"></td>
        <td>
            <a th:href="@{/company/delete(id=${companes.id})}">delete</a>
        </td>
    </tr>
</table>

</body>
</html>